[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized
[submodule "zsh/z"]
	path = zsh/z
	url = https://github.com/rupa/z
[submodule "utils/todo"]
	path = utils/todo
	url = https://github.com/ginatrapani/todo.txt-cli
[submodule "utils/bitpocket"]
	path = utils/bitpocket
	url = https://github.com/sickill/bitpocket
